@charset "utf-8";
/* CSS Document */

.col4-1 { width:50%; float: left; background: #BB070A; }
.col3-1 { width:50%; float: left; background: #Fc0; }
.col3-2 { width:100%; float: left; background: #57D707; }
.col4-3 { width:100%; float: left; background: #02D6F0; }