@charset "utf-8";
/* CSS Document */

/* Page Presets */
/* Set main background colour */
html, body{
	background: #ccc;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
}

body a {
	color: #0074a2;
}

/* Layout */
/*****************************/

/* Set width of page */
#page-content, #subfooter{
	width: 90%;
}

#topbar-content{
	margin: 0 20px;
}


/*****************************/


/* Navigation Menu Colors */

#navrow .menu {
	background: #01607E;
}

#navrow .menu ul {
	border: 1px solid #444;
}

#navrow .menu ul {
	background: #fff;
	border: 1px solid #444;
}

#collapse {
	background: #fff;
}

/* Collapse Menu Colors */
#collapse a {
	color: #0074a2;
}

#navrow .menu ul {
	background: #fff;
	color: #333;
}

#navrow .menu ul a {
	color: #333;
}

#navrow .menu a {
	color: #fff;
}

#collapse a:hover, #navrow .menu li:hover, #navrow .menu li.hover {
	background: #eda;
	color: #333;
}

#navrow .menu a:hover, #navrow .menu a:active {
	color: #333;
}


/* Elements */

#topbar-content{
	text-align: right;
}

.widget-title {
	font-size: medium;
}

code {
  color: #c7254e;
  background-color: #f9f2f4;
}

code {
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}


/* Colours */
/*****************************/


#topbar{
	background: #0D1B1E;
	color: #fff;
}

/* Set background colour of header */
#header{
	background: #003F52;
}

#metarow{
	background: #aed9e1;
	background-image: url('https://usponsive.com/wp-content/images/usponsive--accessibility-meta-image.png');
  	background-repeat: no-repeat;
  	background-attachment: fixed;  
  	background-size: cover;
}

/* Set background colour of left column */
#page-content, #leftcol {
	background: #eee;
}

/* Set background colour of main area */
#primary, #secondary, #main{
	background: #fff;
}

/* Set background colour of right column */
#content, #rightcol{
	background: #ddd;
}

#metafooter{
	color: #fff;
	background: #333;
}

/* Set background colour of footer */
#footer{
	color: #fff;
	background: #000;
}

/* Set background colour of footer */
#footer a{
	color: #fff;
}



