@charset "utf-8";
/* CSS Document */

/* Base Stylesheet for full transparent with Background Image */

html, body {
	height: 100%;
}

#pagecontainer {
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

#header { margin-left:138px; }

#footer { margin-left:138px; }
